.avatar {
  /* display: inline-flex;
  float: righ; */
  margin: 5px;
}
.noUnderline,
.noUnderline:hover {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}
.logo {
  width: 150px;
  height: 50px;
}
